* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

@media only screen and (max-width: 800px) {
  body {
    font-family: "Open Sans Condensed";
    padding: 5px 20px;
  }
}

a {
  text-decoration: none;
  color: black;
}
